<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="screen,projection" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="~/css/site.css" />
    <link type="text/css" rel="stylesheet" href="~/css/MainMenu.css" />/>
</head>

<body class="BackgroundLite">
    <nav>
        <div text-align="center">
            @using(DexterContext db = new DexterContext()) {
                try
                {
                    string? name = db.Users.First(x => x.LoginOfUser == Initial.Login).NameOfUser;
                    byte[]? avatar = db.Users.First(x => x.LoginOfUser == Initial.Login).Avatar;
                    int? balance = db.Users.First(x => x.LoginOfUser == Initial.Login).Balance;
                    if (avatar != null && name != null)
                    {
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(avatar))" onclick="GoTo();" height="100px" weight="100px" class="brand-logo round" />
                        <span class="left hide-on-med-and-down" id="nickname">@name</span>
                        <div class="left hide-on-med-and-down balance">
                            @if(balance != null) {
                                <span>
                                    @balance.ToString()
                                </span>
                            }
                            else
                            {
                                <span>
                                    0
                                </span>
                            }
                            <span>
                                 руб.
                            </span>
                        </div>
                    }
                    else
                    {
                        <img src="~/other/images/StandartProfile.png" height="100px" weight="100px" onclick="GoTo();" class="brand-logo round" />
                        <span class="left hide-on-med-and-down" id="nickname">@name</span>
                    }
                }
                catch { }
            }

            <ul class="right hide-on-med-and-down">
                <li>
                    <a><i class="material-icons photo" data-title="Новости">newspaper</i></a>
                </li>
                <li><a asp-action="ShopMenu" asp-controller="Home"><i class="material-icons photo" data-title="Магазин">computer</i></a></li>
                <li><a href="collapsible.html"><i class="material-icons photo" data-title="Корзина">shopping_cart</i></a></li>
                <li><a href="mobile.html"><i class="material-icons photo" data-title="Пользователи">group</i></a></li>
            </ul>
        </div>
    </nav>
    <p> <br> Главные новости </br></p>
    @using (DexterContext db = new DexterContext())
    {
        var n = from t in db.News
                orderby t.IdNew
                select t;
        foreach (var nw in n)
        {
            if (nw.Fix == true)
            {
                <div class="bignews">
                    <img class="imgbn" src="data:image/jpeg;base64,@(Convert.ToBase64String(nw.MainImage))" />
                    <button class="ramka-5">
                       Открыть новость
                    </button>

                </div>
                continue; ;
            }
        }

    }
    <p> Прочие новости </p>
    @using(DexterContext db = new DexterContext())
    {
        var n = from t in db.News
                 orderby t.IdNew 
                 select t;
            foreach (var nw in n)
            {
            if(nw.Fix == false)
            {
            <div class="smallnewsbase">
                    <div class="smallnews">
                        <img  src="data:image/jpeg;base64,@(Convert.ToBase64String(nw.MainImage))" />
                        <span> @nw.Paragraph </span>
                        <button > Открыть новость <i class="material-icons">open_in_new</i> </button>
                    </div>
                </div>
            }
            }
        
    }
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        function GoTo() {
            window.location.href = "https://localhost:44315/Home/UserProfile";
        }
    </script>
    <script src="~/js/MainMenu.js"></script>
</body>
</html>